:root {
  --white: #ffffff;
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-950: #1e1b4b;
  --black: #000000;

  --pad-sm: 5px;
  --pad-md: 10px;
  --pad-lg: 15px;
  --pad-xl: 20px;

  --rad-sm: 5px;
  --rad-md: 10px;
  --rad-lg: 15px;
  --rad-xl: 20px;

  --gap-sm: 5px;
  --gap-md: 10px;
  --gap-lg: 15px;
  --gap-xl: 20px;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: var(--pad-md);
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

a {
  color: var(--indigo-950);
  text-decoration: none;

  &:hover {
    opacity: 0.9;
    transition: all 500ms;
  }
}

header {
  padding: var(--pad-lg);
}

.page-title {
  text-align: start;
  color: var(--black);

  @media (width <=1000px) {
    text-align: center;
  }

  h1 {
    font-size: 1rem;
    font-size: clamp(1rem, 4vw, 1.5rem);
  }

  h2 {
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 4vw, 1rem);
    font-style: italic;
    font-weight: 500;
  }
}

main {
  padding: var(--pad-xl);
}

body:has(.actions) {
  margin-bottom: 60px;
}

.actions {
  position: fixed;
  right: var(--pad-lg);
  bottom: var(--pad-lg);

  width: 100%;
  max-width: calc(100% - var(--pad-md) * 2);

  .actions__items {
    float: right;
    display: flex;
  }
}

button {
  border: none;
  padding: var(--pad-md) var(--pad-xl);
  border-radius: var(--rad-sm);

  font-weight: 700;
  font-size: 0.9rem;

  cursor: pointer;

  &:hover {
    opacity: 0.9;
    transition: all 500ms;
  }

  /* --- Variants ----------------------------------------------------------- */

  &.primary {
    background-color: var(--indigo-800);
    color: var(--white);
  }

  &.secondary {
    background-color: var(--indigo-50);
    color: var(--black);
  }

  /* --- With icons --------------------------------------------------------- */

  &.icon-add::after {
    content: "+";
    padding-left: var(--pad-md);
  }
}

.content {
  display: flex;

  & > * {
    max-width: 1400px;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }
}
