:root {
  --primary-color: #21213d;
  --secondary-color: #c8c8e6;

  --on-primary-color: #fbfbff;
  --on-secondary-color: #14141f;

  --accent-color: #3c3c9c;

  --pad-sm: 5px;
  --pad-md: 10px;
  --pad-lg: 15px;
  --pad-xl: 20px;

  --rad-sm: 5px;
  --rad-md: 10px;
  --rad-lg: 15px;
  --rad-xl: 20px;

  --gap-sm: 5px;
  --gap-md: 10px;
  --gap-lg: 15px;
  --gap-xl: 20px;
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: var(--pad-md);

  display: flex;
  flex-direction: column;
  gap: var(--gap-lg);
}

a {
  color: var(--accent-color);
  text-decoration: none;

  &:hover {
    opacity: 0.9;
    transition: all 500ms;
  }
}

header {
  background-color: var(--primary-color);
  padding: var(--pad-lg);
  border-radius: var(--rad-md);
}

.page-title {
  text-align: center;
  color: var(--on-primary-color);

  h1 {
    font-size: 1rem;
    font-size: clamp(1rem, 4vw, 2rem);
  }
}

main {
  padding: var(--pad-xl);
}

footer {
  background-color: var(--secondary-color);
  padding: var(--pad-lg);
  border-radius: var(--rad-md);

  display: flex;
  align-items: center;
  justify-content: end;

  a,
  p {
    color: var(--on-secondary-color);
  }
}

button {
  border: none;
  padding: var(--pad-md) var(--pad-xl);
  border-radius: var(--rad-sm);

  font-weight: 700;
  font-size: 0.9rem;

  cursor: pointer;

  &:hover {
    opacity: 0.9;
    transition: all 500ms;
  }

  /* --- Variants ----------------------------------------------------------- */

  &.primary {
    background-color: var(--primary-color);
    color: var(--on-primary-color);
  }

  &.secondary {
    background-color: var(--secondary-color);
    color: var(--on-secondary-color);
  }

  /* --- With icons --------------------------------------------------------- */

  &.icon-add::after {
    content: "+";
    padding-left: var(--pad-md);
  }
}
